name: Lints

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install uv
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Create virtual environment
      run: |
        uv venv
    
    - name: Install dependencies
      run: |
        uv sync
    
    - name: Run black
      run: |
        uv run black --check ./dh_bl_core

    - name: Run Pylint
      run: |
        uv run pylint ./dh_bl_core

    - name: Run ISort
      run: |
        uv run isort --check ./dh_bl_core

    - name: Run PyRight
      run:  uv run pyright ./dh_bl_core
